@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "cairo";
}

.head {
  display: flex;
  position: relative;
  background-image: url("./Design/Assets/SVG/Merged/bar-1.svg");
}

.head__logo {
  margin-left: 2%;
}

.head__menu {
  margin-left: 70%;
  margin-top: 1%;
  margin-right: 2%;
}

.head__menu__liste {
  margin: 25px;
  justify-items: center;
  font-size: large;
  font-weight: 700;
  padding: 0px 5px;
}

.head__menu__liste__button {
  width: 100%;
  border: 1.5px solid #1A519E;
  border-radius: 10px;
  background-color: transparent;
}

.head__menu__liste__button svg {
  padding-left: 13px;
  padding-right: 5px;
}

.medical {
  background-color: #F4CF1B;
}

.medical__titre, .medical__para {
  text-align: center;
}

.medical__para {
  margin-left: 35%;
  margin-right: 35%;
  font-size: 14px;
  font-weight: 700;
  color: #1078AD;
  font-family: 'Cairo',sans-serif;
}

.parti1 {
  display: flex;
  position: relative;
  margin-top: 2%;
  margin-left: 5%;
}

.parti1__medical {
  margin-left: 15%;
}

.parti1__medical__titre {
  text-align: center;
  color: #1078AD;
  font-size: 30px;
  margin-left: 9%;
}

.parti1__medical__emoticon {
  margin-top: 3%;
  margin-left: 48%;
}

.parti1__medical__para {
  color: #7F7F7F;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  margin-left: 16%;
  margin-right: 10%;
}

.parti1__medical__butt {
  height: 38px;
  margin-top: 2%;
  margin-left: 18%;
  color: white;
  text-align: center;
  font-size: 24px;
  background-color: #1078AD;
}

.Symptômes {
  margin: 0 80px 80px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 45% 45%;
  margin-left: 27%;
  margin-top: 4%;
}

.Symptômes__titre {
  font-size: 28px;
  grid-column: 1/3;
  text-align: center;
  letter-spacing: 0;
  margin-right: 20%;
}

.Symptômes__fièvre {
  grid-column: 1/2;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.Symptômes__fièvre__fièvre--titre {
  padding-left: 40px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
}

.Symptômes__nausé {
  grid-column: 2/3;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.Symptômes__nausé__nausé--titre {
  margin-left: -40px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
}

.Symptômes__gene {
  grid-column: 1/2;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.Symptômes__gene__gene--titre {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  font-weight: 500;
}

.Symptômes__gorge {
  grid-column: 2/3;
  margin-left: 0%;
  margin-bottom: 40px;
}

.Symptômes__gorge__gorge--titre {
  margin-left: -20px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: #000000;
}

.Recom {
  background-color: #1078AD;
}

.Recom__titre {
  color: white;
  font-weight: 700;
  font-size: 30px;
  margin-left: 40%;
  margin-top: 3%;
}

.Recom__information {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  margin-left: 5%;
}

.Recom__information--parag {
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-right: 40%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.Recom__information--parag strong {
  color: black;
}

.parti2__information--titre {
  color: #F4CF1B;
  font-size: 26px;
  margin-top: 30%;
  margin-left: 13%;
}

.parti2__information--phone {
  background-color: #F4CF1B;
  color: #1078AD;
  padding-left: 9%;
  border-radius: 5px;
}

.parti2__information--link {
  font-size: 24px;
  color: white;
  text-decoration-color: #F4CF1B;
}

.heroFooter {
  background-color: #96C5DC;
  margin-top: -10px;
  padding-bottom: 20px;
}

.heroFooter__title {
  padding-top: 20px;
  color: #1078AD;
  text-align: center;
}

.heroFooter__emoji {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heroFooter__button {
  width: 30%;
  margin-left: 35%;
  background-color: #1078AD;
  font-size: 24px;
}

footer img {
  margin-left: 47%;
  margin-top: 2%;
}

footer .sect {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;
  line-height: 2,5%;
  margin-bottom: 2%;
  margin-left: 20%;
  margin-right: 9%;
}

footer .sect__om {
  grid-row: 1;
  grid-template-rows: 1;
  margin-left: 50px;
  margin-top: 60px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2%;
}

footer .sect__om ul {
  list-style: none;
  font-size: 30;
}

footer .sect__om ul a {
  text-decoration: none;
  color: black;
}

footer .sect__om--but {
  width: 100px;
  margin-left: 8%;
  border: 1.5px solid #1A519E;
  border-radius: 10px;
  background-color: transparent;
}

footer .sect__om--but svg {
  padding-left: 13px;
  padding-right: 5px;
  padding-top: 5%;
}

footer .sect__om--color {
  color: #1078AD;
}

footer .sect__cont {
  grid-row: 1;
  grid-template-rows: 2;
  margin-top: 15%;
  margin-left: 15%;
  text-align: center;
}

footer .sect__cont--titre {
  color: #1078AD;
  font-weight: 700;
}

footer .sect__cont--title {
  color: #369D53;
  font-weight: 700;
}

footer .sect__cont--para {
  font-weight: 700;
}

footer .sect__para {
  grid-row: 1;
  grid-template-rows: 3;
  margin-left: 30%;
  color: #7F7F7F;
  margin-top: 6%;
  margin-right: 28%;
}

footer .sect__color {
  background-color: #1078AD;
}

/*# sourceMappingURL=style.css.map */