.int {

    .titre {
        text-align: center;
        height: 100px;
        font-size: 35px;
        font-weight: bold;
        color:#1A519E ;
      
        
    }
        .container {
           
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 700px;
        margin-left: 5%;
        margin-right: 5%;
         h3 {
           
             color: #1A519E;
           
             text-align: center;
             display: block;
             margin-left: auto;
             margin-right: auto;
             width: 70%;
             padding-top:15px;
            
         }
        img {
            height: 50%;
            width: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
             
        }
                .box1 {
                  
                    grid-column:2/3 ;
                    grid-row:1/2 ;
                   
                   
                  
                }
                .box2 {
                    grid-column:1/2 ;
                    grid-row:1/2 ;
                 
                }
                .box3 {
                    grid-column:3/4 ;
                    grid-row:1/2 ;
                  
                }
                .box4 {
                    grid-column:1/2 ;
                    grid-row:2/3 ;
                 
                }
                .box5 {
                    grid-column:2/3 ;
                    grid-row:2/3 ;
                   
                }
                .box6 {
                    grid-column:3/4 ;
                    grid-row: 2/3;
                   
                }
                .box7 {
                    grid-column:1/4;
                    grid-row: 3/4;
               
        }
    }
 
}


.info{

    margin-top: -0.8%;
 
    &__titre{
 
       margin-bottom:  -0.5%;
    }
 }
 
 
 
 .proteger{
     
      &__title{
 
         text-align: center;
         color: #1078AD;
         
      }
 
 }
.coro{
&__title{
    text-align: center;
    font-size: 30px;
    margin-top: 1%;
    font-weight: 700;
    color: #1078AD;
}
&__info{
    display : flex;
    flex-direction: row;
    color: #1A519E;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20%;
    margin-bottom: 3%;
    &--par1{
        margin-top: 4%;
     
            .x{
                margin-left: -25%;   
        }
    }

    &--par2{
        margin-left: 10%;
        margin-top: 6%;

    }
}
}
  

    .Symptômes{
        margin: 0 80px 80px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 45% 45%;
        margin-right: -8%;
        margin-top:4%;
        
        &__titre{
            font-size: 28px;
            grid-column: 1/3;
            text-align: center;
            letter-spacing: 0;
          
            
        }
        &__fièvre{
            grid-column: 1/2;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
       
            &__fièvre--titre{
              
                padding-left: 40px;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0;
                
                
                
               
            }
        }
        &__nausé{
            grid-column: 2/3;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 40px;
        
          
    
            &__nausé--titre{
                margin-left: -40px;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0;
            }
        }
        &__gene{
            grid-column: 1/2;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 40px;
    
            &__gene--titre{
                padding-left: 10px;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0;        
                font-weight: 500; 
             
            }
        }
        &__gorge{
            grid-column: 2/3;
            
            margin-left: 0%;
            margin-bottom: 40px;
            &__gorge--titre{
                margin-left: -20px;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0;
                color:#000000
            }
        }
        
    }
    .covid{
        &__title{
            text-align: center;
            font-size: 28px;
            margin-top: 1%;
            color: #1078AD;
            font-weight: 400;
            margin-right: 11%;
          
        }
        &__info{
            display : flex;
            flex-direction: row;
            color: #1A519E;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            margin-left: 20%;
            margin-bottom: 3%;
            &--box1{
                margin-top: 4%;
                margin-left: 10%;
                margin-right: 5%;
                    .x{
                        margin-left: -40%;   
                        margin-bottom: 8%;
                }
            }
    
            &--box2{
             
                margin-top: 5%;
                margin-right: 17;
    
            }
        }
    }
    .infor{
        background-color: #D0E5F0;
        
        padding-bottom: 2%;
        &__titre{
             color: #1078AD;
             font-size: 24px;
             text-align: center;
             font-weight: 700;
             margin-top: 3%;
             margin-left: 3%;
            
        }
        &__parag{
            color: #1A519E;
            font-size: 20px;    
            font-weight: 700;
            margin-left: 10%;
            text-align: center;
            margin-right: 4%;
        }
        svg{
            margin-top: 2%;
            margin-left: 45%;
        }
    }
      