.heroFooter{
    background-color: #96C5DC;
    margin-top: -10px;
    padding-bottom: 20px;
    &__title{
        padding-top: 20px;
        color:#1078AD;
        text-align: center;
    }
    &__emoji{
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        margin-left:auto;
        margin-right: auto;
    }
    &__button{
        width: 30%;
        margin-left: 35%;
        background-color: transparent; 
        font-size: 24px;
        border-radius: 5px;
        border:2px solid #1078AD;
        color: #1078AD;
    }
    &__button:hover{
        background-color: #1078AD;
        color: white;
       
    }
}

        
       
footer{
   
   
    img{
        margin-left: 47%;
        margin-top: 2%;
    }
    .sect{
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 1;
        line-height : 2,5%;
        margin-bottom: 2%;
        margin-left: 20%;
        margin-right: 9%;
       
        &__om{
            grid-row: 1;
            grid-template-rows: 1;
            margin-left: 50px;
            margin-top: 60px;
            text-align: center;
            font-weight: 700;
            margin-bottom: 2%;
            ul{
                list-style:none;
                font-size: 30;
               
                a{
                   
                text-decoration: none;
                color: black;
            }
        }
            &--but{
                width: 100px;
                margin-left: 8%;    
                border: 1.5px solid #1A519E;
                border-radius: 10px;
                background-color: transparent;
                svg{
                    padding-left: 13px;
                    padding-right: 5px;
                    padding-top: 5%;
            }
        }
            &--color{
                color: #1078AD;
            }
        }
        &__cont{
            grid-row: 1;
            grid-template-rows: 2;
            margin-top: 15%;
            margin-left: 15%;
          
            text-align: center;
            &--titre{
                color: #1078AD;
                font-weight: 700;
            }
            &--title{
                color: #369D53;
                font-weight: 700;
            }
            &--para{
                font-weight: 700;
            }
            
        }
        &__para{
            grid-row: 1;
            grid-template-rows: 3;
            margin-left: 30%;
            color: #7F7F7F;
            margin-top: 6%;
            margin-right: 28%;

        }
        &__color{
            background-color: #1078AD;
        }
    }
    }