* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "cairo";
}
.head {
        
        display: flex;
        position: relative;
        background-image: url("./Design/Assets/SVG/Merged/bar-1.svg");

       
    
        &__logo {
            margin-left: 2%;
        }
        &__menu{
         margin-left: 70%;
         margin-top: 1%;
          margin-right: 2%;

            &__liste{
                margin: 25px;
               justify-items: center;
               font-size: large;
               font-weight: 700;
               padding:0px 5px;
                &__button{
                    width: 100%;
                    
                    border: 1.5px solid #1A519E;
                    border-radius: 10px;
                    background-color: transparent;
                    svg{
                        padding-left: 13px;
                        padding-right: 5px;
                       
                    }
                }
            }
        }
    
    
}

.medical{
    background-color: #F4CF1B;
    
    &__titre, &__para{
        text-align: center;
        
    }
    &__para{
        margin-left: 35%;
        margin-right: 35%;
        font-size: 14px;
        font-weight: 700;
        color: #1078AD;
        font-family: 'Cairo',sans-serif;
       
    }
}
.parti1{
    display : flex;
    position: relative;
    margin-top: 2%;
    margin-left: 5%;
    &__medical{
        margin-left: 15%;
        
        &__titre{
        text-align: center;
        color:#1078AD;
        font-size: 30px;
        margin-left: 9%;
        }
        &__emoticon{
            margin-top: 3%;
            margin-left: 48%;
        }
        &__para{
            color: #7F7F7F;
            font-weight: 500;
            text-align: center;
            font-size: 24px;
            margin-left: 16%;
            margin-right: 10%;
        }
        &__butt{
           
            height: 38px;
            margin-top: 2%;
            margin-left: 18%;
            color:white;
            text-align: center;
           
            font-size: 24px;
            background-color: #1078AD;
        }
    }
}
