.Symptômes{
   // margin: 0 auto 80px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 45% 45%;
    //margin-left: 27%;
   // margin-top:4%;
    
    &__titre{
        font-size: 28px;
        grid-column: 1/3;
        text-align: center;
        letter-spacing: 0;
       margin-right:20%;
        
    }
    &__fièvre{
        grid-column: 1/2;
        margin-right:auto;
        margin-left: auto;
        margin-bottom: 40px;
   
        &__fièvre--titre{
          
            padding-left: 40px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0;
            
           
        }
    }
    &__nausé{
        grid-column: 2/3;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    
      

        &__nausé--titre{
           // margin-left: -40px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0;
        }
    }
    &__gene{
        grid-column: 1/2;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;

        &__gene--titre{
            padding-left: 10px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0;        
            font-weight: 500; 
         
        }
    }
    &__gorge{
        grid-column: 2/3;
        
        margin-left: 0%;
        margin-bottom: 40px;
        &__gorge--titre{
            margin-left: -20px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0;
            color:#000000
        }
    }
    
}