  
.stipers {
    padding: 2% 17% 0% 15%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #1078AD;
        position: relative;
      


        &::before {
            content: '';
            height: 22px;
            width: 22px;
            background-color: #1078AD;
            border-radius: 50%;
            position: absolute;
            top: -25px;
            
            }

    
    }

    

    .mouvement {

        &::before {
            content: '';
            height: 48px;
            width: 48px;
            background-color: #88b7d3;
            border-radius: 50%;
            position: absolute;
            top: -36Px;
            z-index: 100;
    
    
        }

        &::after {
            content: '';
            height: 22px;
            width: 22px;
            background-color: #F4CF1B;
            border-radius: 50%;
            position: absolute;
            top: -25px;
            z-index: 1000;
        }
    
    }
    

    
}
.progress {
    border-bottom: 1px solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 7px 0;
    

    h3 {
        font-weight: bolder;
        margin-right: 15px;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__bar {
        width: 90%;
        height: 10px;
        border-radius: 20px;
        background-color: #e6f1f7;
    


        .bar {
            height: 100%;
            width:calc(1*calc(100%/22));
            background-color: #1078AD;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            transition: all .4s ease;
        }
    }
}
.box{

    text-align: center;
    border: 1px solid  #1078AD ;
    margin: auto;
    width: 70%;
    font-weight: 200;
    border-radius: 5px;
    margin-bottom: 5%;
    

    &__question{

        color: #787878;
        font-size: 32px;
        margin-top: 120px;
        margin-bottom: 50px;
    }

}


.area{

    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin-top: 100px;
    margin-bottom: 30px;


    button{
    
        border-radius: 5px;
        border:2px solid #1078AD; 
        padding: 10px 20px  ;
        font-size: 15px;
        float:right;
        outline: none; 
        color:#1078AD ;
        background-color: #96C5DC; 
        transition: .5s all ease;
      
    

        &:hover{
            background-color: #1078AD;
            color: white;

        }

        &:disabled{

            cursor: not-allowed;
            opacity: 0.65;
           
            &:hover{
                background-color: #D0E5F0;

            }
        }
    }
}
.answer-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;

  

    input[type="radio"] {
        
       -webkit-appearance: none;
    }

    input[type="radio"]:checked~label {

        background-color: #1078AD;
        color: #F4CF1B;
    }


    
    label {
        height: 80px;
        width: 120px;
        color: #1078AD;
        border-radius: 4px;
        border: 4px solid #1078AD;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 9px 0px 0;
        transition: .5s ease;
        margin-right: 50px;


        span {
            font-size: 22px;
            position: relative;
            bottom: 5px;
        }


    }
}
input[type="number"] {
    font-size: 16px;
    border: 1px solid #1078AD;
    width: 55%;
    padding: 10px;
}

.input-span {
    font-size: 16px;
    border: 1px solid #1078AD;
    border-left: none;
    padding: 4px 10px 5px;
    color: rgb(85, 85, 85);
    background-color: #edf6fa;
}
/*------------------------------------------------------------------------------------------------------------------*/
.préambul{

    text-align: center;
    margin-top: 5%;
    
            
    
    &__contenu{
      
    
    background-color:#96C5DC;
    border-radius: 5px;
    padding-bottom: 80px;
    margin: 10px auto 20px auto;
    width: 72vw;
    
    
    //        .préambul__deco{
    
    //      border-bottom: 2px solid #F4CF1B;
    //      width: 20vw;
    //      margin: 10px auto;
        
        
    //    }
                .préambul__paragraph{
             
                 margin: auto;
                 width: 70vw;
    
    }
  
    
    
         
    

    
    }
    
    .préambul__article{

        margin: auto;
        width: 72vw;
        
    
        
        }
        .préambule__title{
            margin: 0;
            color:#1078AD ;
            
            }
             .start{

                background-color: #1078AD;     
                border-radius: 5px;
                border:2px solid #1078AD; 
                width: 20%;
                height: 50px;
                font-size: 25px;
                color: white;
                display: block;
                margin : auto;
                margin-top: 2%;
            
            }
       
    
         
            &__line{
                border: 1px solid #F4CF1B;
                  width:50%;
                  margin-left: 26%;
                 
                
            }
    
    
    
    
    }





.visible{
    display: none;
}

    